@model ComplexData.Models.Imone

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Imone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aprasymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aprasymas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pavadinimas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pavadinimas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SukurimoData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SukurimoData)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Redaguoti" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
