@model ComplexData.Models.Imone

@{
    ViewData["Title"] = "Redaguoti irasa";
}

<h2>Redaguoti irasa</h2>

<form asp-action="Edit">
    <div class="form-horizontal">

        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Pavadinimas" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pavadinimas" class="form-control" />
                <span asp-validation-for="Pavadinimas" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Aprasymas" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Aprasymas" class="form-control" ></textarea>
                <span asp-validation-for="Aprasymas" class="text-danger" />
            </div>
        </div>
        
        
        <div class="form-group">
            <div class="col-md-offset-2 col-xs-1">
                <input type="submit" value="Issaugoti" class="btn btn-default" />
            </div>
            
            <div class="col-md-offset-2 ">
                
                <a asp-action="Delete" asp-route-id="@Model.Id">
                    <input value="Pasalinti" class="btn btn-default" />
                </a>
            </div>
        </div>
        

    </div>
</form>

<h2>Imones Darbuotojai</h2>



<div>
    <a asp-action="Index">Atgal</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
