@model IEnumerable<ComplexData.Models.Imone>

@{
    ViewData["Title"] = "Imones";
}

<h2>Imones</h2>

<p>
    <a asp-action="Create"><input value="Ivesti nauja" class="btn btn-default"/></a>
   
</p>
<table class="table">
    <tr>
        <th>
            Imone
        </th>
        <th>
            Darbuotoju skaicius
        </th>
        <th>
            Kompetenciju skaicius
        </th>


    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Pavadinimas)</a>
        <td>
           
        </td>
        <td></td>
    </tr>
}
</table>
