@model ComplexData.Models.Darbuotojas

@{
    ViewData["Title"] = "Sukurti irasa";
}

<h2>Sukurti irasa</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImonesId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ImonesId" class ="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Pavarde" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pavarde" class="form-control" />
                <span asp-validation-for="Pavarde" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RegistracijosData" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RegistracijosData" class="form-control" />
                <span asp-validation-for="RegistracijosData" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vardas" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vardas" class="form-control" />
                <span asp-validation-for="Vardas" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sukurti" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Atgal</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
