@model ComplexData.Models.Darbuotojas

@{
    ViewData["Title"] = "Perziura";
}

<h2>Perziura</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pavarde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pavarde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistracijosData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistracijosData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vardas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vardas)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Redaguoti" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Atgal</a>
</p>
