@model IEnumerable<ComplexData.Models.Darbuotojas>
@{
    ViewData["Title"] = "Darbuotojai";
}

<h2>Darbuotojai</h2>

<p>
    <a asp-action="Create">Prideti darbuotoja</a>
</p>

<form asp-controller="DarbuotojasController" asp-action="Filer" method="get">
    <p>
        ImonesId: @Html.DropDownList("ImonesId", "VIsi")
        
        <input type="submit" value="Filtruoti" />
    </p>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImonesId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vardas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pavarde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistracijosData)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImonesId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vardas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pavarde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistracijosData)
        </td>
        
        
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Modifikuoti</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Perziureti</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Pasalinti</a>
        </td>
    </tr>
}
</table>
