@model ComplexData.Models.Vertinimas

@{
    ViewData["Title"] = "Perziura";
}

<h2>Perziura</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ivertinimas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ivertinimas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SukurimoData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SukurimoData)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Redaguoti" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Atgal</a>
</p>
