@model ComplexData.Models.Vertinimas

@{
    ViewData["Title"] = "Redaguoti vertinima";
}

<h2>Redaguoti vertinima</h2>

<form asp-action="Edit">
    <div class="form-horizontal">

        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="DarbuotojoId" class="control-label col-md-2">DarbuotojoId</label>
            <div class="col-md-10">
                <select asp-for="DarbuotojoId" class="form-control" />
                <span asp-validation-for="DarbuotojoId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ivertinimas" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ivertinimas" class="form-control" />
                <span asp-validation-for="Ivertinimas" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KompetencijosId" class="control-label col-md-2">KompetencijosId</label>
            <div class="col-md-10">
                <select asp-for="KompetencijosId" class="form-control" />
                <span asp-validation-for="KompetencijosId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SukurimoData" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SukurimoData" class="form-control" />
                <span asp-validation-for="SukurimoData" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Issaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Atgal</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
