@model IEnumerable<ComplexData.Models.Vertinimas>

@{
    ViewData["Title"] = "Vertinimai";
}

<h2>Vertinimai</h2>

<p>
    <a asp-action="Create">Sukurti nauja</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DarbuotojoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KompetencijosId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ivertinimas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SukurimoData)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DarbuotojoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KompetencijosId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ivertinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SukurimoData)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Modifikuoti</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Perziureti</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Pasalinti</a>
        </td>
    </tr>
}
</table>
