@model ComplexData.Models.Kompetencija

@{
    ViewData["Title"] = "Pasalinti irasa";
}

<h2>Pasalinti irasa</h2>

<h3>Ar tikrai norite pasalinti?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aprasymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aprasymas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pavadinimas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pavadinimas)
        </dd>
    </dl>
    
    <form asp-action="Pasalinti">
        <div class="form-actions no-color">
            <input type="submit" value="Pasalinti" class="btn btn-default" /> |
            <a asp-action="Index">Atgal</a>
        </div>
    </form>
</div>
