@model ComplexData.Models.Kompetencija

@{
    ViewData["Title"] = "Redaguoti kompetencija";
}

<h2>Redaguoti kompetencija</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Aprasymas" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Aprasymas" class="form-control" />
                <span asp-validation-for="Aprasymas" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Pavadinimas" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pavadinimas" class="form-control" />
                <span asp-validation-for="Pavadinimas" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Issaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Atgal</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
