@model IEnumerable<ComplexData.Models.Kompetencija>

@{
    ViewData["Title"] = "Kompetencijos";
}

<h2>Kompetencijos</h2>

<p>
    <a asp-action="Create">Sukurti nauja</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprasymas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pavadinimas)
        </th>
        
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprasymas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pavadinimas)
        </td>
        
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Modifikuoti</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Perziureti</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Pasalinti</a>
        </td>
    </tr>
}
</table>
